body {
  font-family: 'Montserrat', sans-serif;
}

p {
  margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 600;
    color: darkgrey;
    font-size: .8rem;
}
.container-fluid {
  overflow: hidden;
  padding: 3% 15% 4%;
}

#title {
  background-color: #ff4c68;
  color: white;
  z-index: 0;
  position: relative;
}

.container-fluid {
  padding: 3% 15%;

}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}
h2 {
  font-weight: 600;
      color: black;
      font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

#testimonials h2 {
  font-weight: 600;
      color: white;
      font-size: 3rem;
}
/* navigation */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200
}

.download-button {
  margin: 5% 3% 5% 0;
}

.iphone {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

/* feature-boxes */
#features {
  padding: 8% 7%;
  background-color: white;
  z-index: 1;
  position: relative;
}

.feature-boxes {
  text-align: center;
}

.feature-boxes i {
  font-size: 3rem;
  padding-bottom: 3%;
  color: #e03f59;
}

.feature-boxes i:hover {
  color: #ff4c68;
}



.feature-boxes p {
  color: #8f8f8f
}

/* testimonials */
#testimonials {
  text-align: center;
  background-color: #e03f59;

  color: white;
}
.carousel-item {
  padding: 8% 11% 7%;
}



.test-profile {
  width: 15%;
      border-radius: 100%;
      padding: 3%;
}

#press {
  text-align: center;
  background-color: #e03f59;
}

.press-logo {
  width: 14%;
  margin: 0 2% 4%;
}

/* #pricing  */
#pricing {
  padding: 9% 10%;
text-align: center;
}

.card-deck {
    padding-top: 4%;
}

/* media */
@media only screen and (max-width: 1300px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 1090px) {
  h1 {
    font-size: 2.5rem;
  }

  .download-button {

    margin: 0% 2% 6% 0;
  }

  .iphone {
    width: 73%;
    transform: rotate(25deg);
    position: absolute;
    top: 0%;
    right: 0;
  }
}
@media only screen and (max-width: 1028px) {
  h1 {
    font-size: 2.5rem;
    text-align:center;
      margin-bottom: 3rem;
  }
  .row {
    text-align: center;
  }

  #testimonials h2 {
    font-size: 2rem;
  }

  .iphone {
    transform: rotate(0);
    position: static;
  }
}
@media only screen and (max-width: 990px) {
  #testimonials h2 {
    font-size: 1rem;
  }
  .iphone {
width:35%;
  }
}

@media only screen and (max-width: 590px) {
  .iphone {
display: none;
  }
}
